## AllOreAndMushroomMiningMod configuration file
## Copy this file to the BepInEx/config/ folder in your game directory.

[General]

## Toggle key to enable/disable ore and mushroom mining
## Available key names: https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyCode
# Default value: F8
ToggleKey = F8
