## VeinMiningMod 설정 파일
## 이 파일을 게임의 BepInEx/config/ 폴더에 복사하세요.

[General]

## 베인 마이닝 ON/OFF 토글 키
## 사용 가능한 키 목록: https://docs.unity3d.com/ScriptReference/KeyCode.html
# Setting type: KeyCode
# Default value: F8
ToggleKey = F8
